*{
	color:grey;
	font-family:"Bernhard Gothic URW", Helvetica, sans-serif;
	background-color: #ffffee;

}


.header{
	width:100%;
	margin:auto;
	overflow:hidden;
	max-height: 100;
}

.topleft li{
	display:inline;
	padding:10px;
	float:left;
}

.topleft li:hover{
	color:black;
}

.logo ul{
	text-align: center
}

.logo img{
	width:100;
	height:100;
}
.topright li{
	display: inline;
	float:right;
	padding: 10px
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.intro img{
	width: 1200;
	height:350;

}

.left1 {
	width: 40%;
	height:300px;
	text-align: center;

}

.right img{
	width:60%;
	height:300px;
}